# Uber Data Analysis Project
In this project, we will analyze the **Uber Pickups in New York City** dataset. We shall do visualizations for understanding the data and for developing an intuition for understanding the customers who avail the trips. Through these data visualizations, companies can avail the benefit of understanding the complex data and gain insights that would help them to craft decisions.

In [1]:
# import data analysis modules to work with
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

# import data visualization modules to woek with
import matplotlib.pyplot as plt
import seaborn as sns
sns.set_style('whitegrid')
%matplotlib inline # to make the plots appear properly in the ipython notebook environment

C:\Users\BEN KOLE\Anaconda3\lib\site-packages\statsmodels\tools\_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm
UsageError: unrecognized arguments: # to make the plots appear properly in the ipython notebook environment

## Data preparation

In [2]:
# load the various uber datasets and set them to dataframes
uber_apr_df = pd.read_csv('uber-raw-data-apr14.csv')
uber_may_df = pd.read_csv('uber-raw-data-may14.csv')
uber_jun_df = pd.read_csv('uber-raw-data-jun14.csv')
uber_jul_df = pd.read_csv('uber-raw-data-jul14.csv')
uber_aug_df = pd.read_csv('uber-raw-data-aug14.csv')
uber_sep_df = pd.read_csv('uber-raw-data-sep14.csv')

In [9]:
uber_jul_df.head()

          Date/Time      Lat      Lon    Base
0  7/1/2014 0:03:00  40.7586 -73.9706  B02512
1  7/1/2014 0:05:00  40.7605 -73.9994  B02512
2  7/1/2014 0:06:00  40.7320 -73.9999  B02512
3  7/1/2014 0:09:00  40.7635 -73.9793  B02512
4  7/1/2014 0:20:00  40.7204 -74.0047  B02512

We shall join all the monthly dataframes to one big dataframe for the uber 2014 trips.

In [4]:
# join the months dataframes to one dataframe for the year 2014
uber_2014_df = pd.concat([uber_apr_df, uber_may_df, uber_jun_df, uber_jul_df, uber_aug_df, uber_sep_df])

In [5]:
# preview the 2014 dataframe
uber_2014_df.head()

          Date/Time      Lat      Lon    Base
0  4/1/2014 0:11:00  40.7690 -73.9549  B02512
1  4/1/2014 0:17:00  40.7267 -74.0345  B02512
2  4/1/2014 0:21:00  40.7316 -73.9873  B02512
3  4/1/2014 0:28:00  40.7588 -73.9776  B02512
4  4/1/2014 0:33:00  40.7594 -73.9722  B02512

In [6]:
uber_2014_df.tail()

                  Date/Time      Lat      Lon    Base
1028131  9/30/2014 22:57:00  40.7668 -73.9845  B02764
1028132  9/30/2014 22:57:00  40.6911 -74.1773  B02764
1028133  9/30/2014 22:58:00  40.8519 -73.9319  B02764
1028134  9/30/2014 22:58:00  40.7081 -74.0066  B02764
1028135  9/30/2014 22:58:00  40.7140 -73.9496  B02764

In [7]:
uber_2014_df.shape

(4534327, 4)